<h4 id= "admin_dash_header">Admin Dashboard</h4>

<%= link_to "All Items", admin_items_path %>

<% @orders.status_types.each do |type| %>
  <span id='order_type'><%= link_to type, admin_dashboard_path(order_type: type) %></span>
<% end %>

<%= render partial: 'shared/order_list' %>
