<html>

<head>
<title>User Sign Up</title>
<link rel='stylesheet' type='main/css' href='stylesheet.css'/>
</head>
<h1 class = "signup">Create your Account</h1>

  <div id= "createform">
    <p><%= render partial: "form" %></p>
  </div>
</html>
