<h1 class="login">Welcome back <%= @user.username %></h1>

<div class="user_dashboard">
  <%= link_to "View All Orders", orders_path %>
</div>
<br>
<div class="user_dashboard">
<p><%= link_to "Edit Account", edit_user_path(@user) %></p>
</div>
