<ul>
  <% @orders.each do |order| %>
    <li>
      <%= link_to "Order ##{order.id}" %> - Status: <%= order.status %>
      <%= link_to "Cancel", admin_cancel_order_path(order), method: :post %>
    </li>
  <% end %>
</ul>
