<h1 class= "cart_header">All Orders for <%= current_user.username %></h1>

<ul class= "cart_parent">
<% @orders.each do |order| %>
  <li><br>
    <%= link_to "Order ##{order.id}", user_order_path(current_user, order) %>
  </li>
<% end %>
</ul>
