#admin_dash_header{
  font-size: 35px;
  text-align: center;
}

#order_type{
  padding-left: 20px;
  display: flex;
  padding-top: 20px;
  font-size: 20px;
}

#order_styling{
  padding-left: 20px;
  display: flex;
  padding-top: 20px;
  font-size: 20px;
}
