
.item_index{
  background-color:white;
  display:inline-flex;
  flex-direction: column;
  margin:20px;
  text-align: center;
}

.category_title{
  text-align:center;
  font-size: 44px;
  padding: 10px;
  background-color: blue(#036)
}
